<section class="songs-list ideal">

        <div class="ui-status empty">
               No hay ninguna cancion
        </div>

        <div class="ui-status error">
                Se ha producido un error

        </div>

        <div class="ui-status loading">
                Cargando...

        </div>

        <div class="ui-status ideal">
          <div class="block">
           <a href="detail.html">
                <article class="obra">
                <img class="dibujo" src="img/block.jpeg">
                <div class="title">Artistic block</div>
                <div class="tecnica">Rotring + Copic</div>
                <img class="like" src="img/like.ico">
                <img class="dislike" src="img/dislike.png">

                </article>
           </a>
          </div> 
           <a href="detail.html">
                <article class="obra">
                <img class="dibujo" src="img/box.jpeg">
                <div class="title">Cat in a box</div>
                <div class="tecnica">Rotring + Copic</div>
                <img class="like" src="img/like.ico">
                <img class="dislike" src="img/dislike.png">

                </article>
           </a>

              <a href="detail.html">
                <article class="obra">
                <img class="dibujo" src="img/kindof.jpeg">
                <div class="title">What kind?</div>
                <div class="tecnica">Rotring + Copic</div>
                <img class="like" src="img/like.ico">
                <img class="dislike" src="img/dislike.png">

                </article>
               </a>
              <a href="detail.html">
                <article class="obra">
                <img class="dibujo" src="img/lonely.jpeg">
                <div class="title">Lonely</div>
                <div class="tecnica">Rotring + Copic</div>
                <img class="like" src="img/like.ico">
                <img class="dislike" src="img/dislike.png">

                </article>
                 </a>
              <a href="detail.html">
                <article class="obra">
                <img class="dibujo" src="img/whatif.jpeg">
                <div class="title">What if?</div>
                <div class="tecnica">Rotring + Copic</div>
                <img class="like" src="img/like.ico">
                <img class="dislike" src="img/dislike.png">

                </article>
                 </a>
        
            <a href="detail.html">
                <article class="obra">
                <img class="dibujo" src="img/useless.jpeg">
                <div class="title">Useless</div>
                <div class="tecnica">Rotring + Copic</div>
                <img class="like" src="img/like.ico">
                <img class="dislike" src="img/dislike.png">

                </article>
                 </a>
            <a href="detail.html">
                <article class="obra">
                <img class="dibujo" src="img/snake.jpeg">
                <div class="title">Snake girl</div>
                <div class="tecnica">Rotring + Copic</div>
                <img class="like" src="img/like.ico">
                <img class="dislike" src="img/dislike.png">

                </article>
                 </a>
            <a href="detail.html">
                <article class="obra">
                <img class="dibujo" src="img/ibrisverlia.png">
                <div class="title">Ibris</div>
                <div class="tecnica">Rotring + Copic</div>
                <img class="like" src="img/like.ico">
                <img class="dislike" src="img/dislike.png">

                </article>
                </a>
                
            <a href="detail.html">
                <article class="obra">
                <img class="dibujo" src="img/tired.jpeg">
                <div class="title">Tired</div>
                <div class="tecnica">Rotring + Copic</div>
                <img class="like" src="img/like.ico">
                <img class="dislike" src="img/dislike.png">

                </article>
                </a>
            <a href="detail.html">
                <article class="obra">
                <img class="dibujo" src="img/whatif.jpeg">
                <div class="title">What if?</div>
                <div class="tecnica">Rotring + Copic</div>
                <img class="like" src="img/like.ico">
                <img class="dislike" src="img/dislike.png">

                </article>
                </a>
        </div>

  

</section>