<form novalidate class="song-form ">

    <div class="ui-status error">Se ha producido un error</div>

    <div class="ui-status loading">Guardando canción...</div>

    <div class="ui-status ideal">

        <div class="form-control-group">
            <label for="Nombre">Nombre de la obra</label>
            <input type="text" id="nombre" name="nombre"  placeholder="Nombre de la obra" >
        </div>
        <div class="form-control-group">
            <label for="Tecnica">Tecnica</label>
            <input type="text" id="tecnica" name="tecnica"  placeholder="Tecnica utilizada">
         
        </div >
        
        <div class="form-control-group">
            <button>Encontrar obra</button>
        </div>


    </div>
        
</form>